.produtosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.produtosTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.gridProdutosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1000px;
}
.gridProdutosContent img {
  max-width: 300px;
}
.gridProdutosContent h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.produtosContainer button {
  background-color: #d31919;
  border: none;
  color: white;
  padding: 20px;
  margin-top: 2rem;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
